:root{
    --blanco:#fff;
    --dorado:#fed700;
    --negro:#000000;
    --dorado2:#6c5a02;

    --fuentePrincipal:'Raleway', sans-serif;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
   
}

*, *:before, *:after{
    box-sizing: inherit;
    
     
}

body{
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.8;
   background-color: var(--negro);
    
}
h1,h2,h3{
    font-weight: 900;
    margin: 1rem 0 4rem 0;
}

h1{
 font-size: 3.8rem;
}
h2{
 font-size: 2.8rem;
 margin: 0;
}
h3{
 font-size: 2rem;
}

a{
    text-decoration: none;
}
img{
    max-width: 100%;
    display: block;
}


.contenedor{
    max-width:120rem;
    margin: 0 auto;
    width:90%;
}

.btn{
    color: var(--gris);
    background-color: var(--blanco);
    border: 1px solid var(--dorado);
    padding: .5rem 2rem;
    transition: background-color .3s;
}
.btn:hover{
    background-color: var(--dorado);
    
}

/* utilidades */
.text-center{
    text-align: center;
}

.mt5{
    margin-top: 5rem;
}

.activo{
    background-color: var(--dorado2);
}




.degradado-dorado {
    color: transparent;
    background: linear-gradient(to right, var(--dorado2) 0%, var(--dorado) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    margin: 0;
   
}

/* estilos del header */

.header {
    min-height:80rem;
    /* altura minima del header*/
    background-color: var(--negro); 
    padding: 5rem 0;
    margin-bottom:.5px solid var(--dorado);

}

.contenido-header {
    display: flex;
    flex-direction: column;
    height: calc(80rem - 4rem);
    justify-content: space-between;
    /* alinea verticalmente en column */
    color: var(--blanco);
}

.contenido h2{
    color:var(--blanco);
}

.nombre-sitio {
    font-weight: 300;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    line-height:1.3;
    margin-top: 3rem;
}

@media (min-width: 768px) {
    .nombre-sitio {
        font-size: 5rem;
    }
}

.nombre-sitio span {
    font-weight: 900;
}

.logo img{

    max-width:20rem;
    margin: 0 auto;

   
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* alineamos en rows horizontalmente */
    }

    .logo img{
       margin:0;
       
    }

}

/* 
alineamos el telefono y el menu de navegacion */
.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .contacto {
        align-items: flex-end;
    }
}

.telefono{
 display: flex;

}
.telefono::before{
    content:'';
    display:block;
    width:4rem;
    height:4rem;
    background-image: url(../img/telefono.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-right:1rem;
    
}

.header a{
    color:var(--blanco);
    font-size: 2rem;
}

.navegacion{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
}



@media (min-width: 768px) {
    .navegacion{
       flex-direction: row;
      
    } 
    
}

.navegacion a{
    padding:.5rem;
    transition: background-color 300ms;
    width:100%;
    text-align: center;
    margin-top: 1rem;
}
@media (min-width: 768px) { 
    .navegacion a{
        padding: 1rem  2rem;
    }
}

.navegacion a:hover{
    background-color: var(--dorado);
    color: var(--negro);
}

.slogan{
    text-align: center;
    
}   


.slogan h2{
    color: var(--blanco);
    text-transform: uppercase;
    
    
}

@media (min-width: 768px) { 
    .slogan{
        text-align:right
    }
}
.slogan h1{
  font-size: 2rem;
  margin: 0;
}

@media (min-width: 768px) { 
    .slogan h1{
        font-size:5rem
    }
}

.slogan p{
  margin: 0;
  line-height: 1;
  
}


.visitanos{
    background-color: var(--dorado2);
}

.grid-crea{
   padding: 5rem;
}

.grid-crea img {
    /* transform: rotate(-6deg); */
    border: .5rem solid var(--blanco);
    box-shadow: 9px 10px 5px -7px rgb( 0 0 0 / .35);
    
}

@media (min-width:1024px) { 

    .grid-crea{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        gap: 4rem;
        align-items:center;
    }
}

.contenido p{
    color: var(--blanco);
    line-height: 1.8;
    font-size:2rem;
}


@media (min-width:1024px) { 

    .contenido p{
        font-size:3rem;
    }
    
}

/* estilos de la galeria */

.experiencia {
    background-color: var(--negro);
   
}

.experiencia h2{
    color: var(--blanco);
    padding: 5rem;
    text-transform:uppercase;
    text-align: center;
    font-size: 4rem;
}


.imagen .gale{
    height: 30rem;
    width: 30rem;
    object-fit: cover;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1rem;
   
}

@media (min-width: 1024px) { 

    .galeria{
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        gap:2rem; 
         
   }   

}

.headingBorder{
    font-size: 2.6rem;
     color:var(--dorado2);
     display: inline-block;
     margin-top: 5rem;
}

.headingBorder::after{
    content:'';
    background-color:var(--dorado);
    height: 1rem;
    width:calc(100% + 1rem) ;
    display: block;
    margin:-1.4rem 0 0 0;
}

/* estilos  fiesta */

.fiesta{
    background-color: var(--dorado2);
    margin: 0;
    
    
}
.fiesta img{
    margin-top:2rem;
    transform: rotate(-6deg);  
    border: .5rem solid var(--blanco);
    box-shadow: 9px 10px 5px -7px rgb( 0 0 0 / .35);
}

.fiesta-grid{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 4rem;
    align-items:center;
}

.contenido-footer{
    padding: 5rem;
}

@media (min-width:1024px) { 

    .contenido-footer{
        display: grid;
        grid-template-columns: repeat(3, 2fr);
    }
}

.copyright {
    text-align: center;
    margin: 0;
    padding: 2rem;
    color: var(--blanco)
}


.footer-box {
   
    text-align: center;
    margin-bottom:5rem;
    color:var(--blanco);
}
    @media (min-width:1024px) { 
        .footer-box {
            margin-bottom:0;
        }
    }

    h3 {
        
        margin: 0 0 1rem 0;
        font-size: 2.4rem;
        color:var(--dorado);
    }
    p, a {
        font-size: 2rem;
        margin: 0;
    }







   








/*   slider estilos */

/* 
.container-slider{
    max-width:70%;
    
    
    padding-top: 2rem;
   
  
}

.slider{
    width:100%;
    margin-top:10rem;
    overflow: hidden;
}

@media (min-width:768px) { 
   
.slider{
    margin-top: 30rem;
}
}

@media (min-width:1200px) { 
   
    .slider{
        margin-top:5rem;
    }
    }

.slider ul{
    padding: 0;
    display: flex;
    width:400%;

    animation: slider 20s infinite alternate;
    animation-timing-function:linear;
}

.slider ul li{
    width: 100%;
    list-style:none;
}

.slider img{
    width:100%;
    object-fit: cover;
}

@keyframes slider{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}


} */